@model TechnologyShop.Models.UserLevel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserLevel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserLevelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserLevelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.LoginName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.LoginName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
