@model TechnologyShop.Models.ViewModel.RegisterVM
@{
    ViewBag.Title = "Register";
}

<div class="wrapper">

    <!-- Start page content -->
    <div id="page-content" class="page-wrapper">
        <!-- LOGIN SECTION START -->
        <div class="login-section mb-80">
            <div class="container">
                <div class="row">
                    <!-- new-customers -->
                    <div class="col-md-6 col-md-offset-3">
                        <div class="new-customers">
                            @using (Html.BeginForm("Register", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                <h6 class="widget-title border-left mb-50">NEW CUSTOMERS</h6>
                                <div class="login-account p-30 box-shadow">
                                    <!--Register-->

                                    <div class="row">

                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.LoginName, new { htmlAttributes = new { @class = "form-control", @placeholder = "User Name" } })
                                            @Html.ValidationMessageFor(model => model.LoginName, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Re-Password" } })
                                            @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Full Name" } })
                                            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                                        </div>


                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email", @type = "text" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone here....." } })
                                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                        </div>


                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Country" } })
                                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-12">
                                            <input type="file" name="Avatar" id="Avatar" multiple />
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <button class="submit-btn-1 mt-20 btn-hover-1" type="submit" value="register">Register</button>
                                            </div>
                                            <div class="col-md-6">
                                                <button class="submit-btn-1 mt-20 btn-hover-1 f-right" type="reset">Clear</button>
                                            </div>
                                        </div>
                                    </div>
                                    <p>@ViewBag.Message</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- LOGIN SECTION END -->
    </div>
    <!-- End page content -->

</div>

--------------
