@model TechnologyShop.Models.Input

@{
    ViewBag.Title = "Input Inventory";
}

<h2>Input Inventory</h2>

@using (Html.BeginForm("InputView", "Inputs"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">


        <div class="row">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
                    @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.InputCode, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.InputCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.InputCode, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-4">
                @Html.Label("Supplier", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <div class="row">
                        @Html.DropDownList("SupplierId", null, htmlAttributes: new { @class = "form-control col-md-9" })
                       
                        <input type="button" id="supplierExt" value=">" class="btn btn-info" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.InputDate, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.InputDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.InputDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Discount, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Tax, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Tax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tax, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

        <div class="row">
            <div class="form-group col-md-12" id="input_details">

            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <h3>Total: <span id="details_total">0</span></h3>
            </div>
        </div>

    </div>



    <div class="row">
        <div class="form-group col-md-10">
            <div class="col-md-10">
                <input type="button" value="Finish" class="btn btn-info" />
                <input type="button" value="Print" class="btn btn-info ml-2" />
                <input type="button" value="Close" class="btn btn-danger ml-2" data-dismiss="modal" />

            </div>
        </div>
    </div>



    <div id="supplier_products">

    </div>

}



<script>
    //ajax
    $(document).ready(function () {
        $.get("/Admin/Inputs/InputDetails/@Model.Id", function (response) {
            $("#input_details").html(response);
        });


        $("#supplierExt").click(function () {
            //step1: load products for supplier selected
            $.get("/Admin/Inputs/SupplierProducts/" + $("#SupplierId").val(), function (response) {
                //if no product(s) -> no thing
                //if has products -> step2:
                if (response != "") {
                    $("#supplier_products").html(response);

                    //step2:

                } else {
                    alert("No Product!");
                }

            });



        });
    });
</script>