@using TechnologyShop.Models

@{
    var products_hot = ViewBag.products_hot as List<Product>;
    var topic_items = ViewBag.topic_items as List<Topic>;
    var products_topic = ViewBag.products_topic as List<Product>;
    var products_old = ViewBag.products_old as List<Product>;
}

<!-- FEATURED PRODUCT SECTION START -->
<div class="featured-product-section mb-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center mb-50">
                    <h2 class="uppercase">Hot product</h2>
                    <h6>There are many variations of passages of brands available,</h6>
                </div>
            </div>
        </div>
        <div class="featured-product">
            <div class="row active-featured-product slick-arrow-2">
                <!-- product-item start -->
                @foreach (var item in products_hot)
                {
                    @Html.Partial("_ProductsItem1", item)
                }
                <!-- product-item end -->

            </div>
        </div>
    </div>
</div>
<!-- FEATURED PRODUCT SECTION END -->
<!-- BY BRAND SECTION START-->
<div class="by-brand-section mb-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center mb-50">
                    <h2 class="uppercase">Discount</h2>
    
                </div>
            </div>
        </div>
        <div class="by-brand-product">
            <div class="row active-by-brand slick-arrow-2">
                <!-- single-brand-product start -->
                @foreach (var item in products_old)
                {
                    @Html.Partial("_ProductsItem3", item)
                }
                <!-- single-brand-product end -->

            </div>
        </div>
    </div>
</div>
<!-- BY BRAND SECTION END -->
<!-- UP COMMING PRODUCT SECTION START -->
<div class="up-comming-product-section mb-80">
    <div class="container">
        <div class="row">
            <!-- up-comming-pro -->
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="up-comming-pro gray-bg clearfix">
                    <div class="up-comming-pro-img f-left">
                        <a href="#">
                            <img src="/Content/MainPage/img/up-comming/1.jpg" alt="">
                        </a>
                    </div>
                    <div class="up-comming-pro-info f-left">
                        <h3><a href="#">Dummy Product Name</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitest, sed do eiusmod tempor incididunt ut labore et dolores top magna aliqua. Ut enim ad minim veniam, quis nostrud exer citation ullamco laboris nisi ut aliquip ex ea commodo consequat. laborum. </p>
                        <div class="up-comming-time">
                            <div data-countdown="2017/01/15"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hidden-sm col-xs-12">
                <div class="banner-item banner-1">
                    <div class="ribbon-price">
                        <span>$ 896.00</span>
                    </div>
                    <div class="banner-img">
                        <a href="#"><img src="/Content/MainPage/img/banner/1.jpg" alt=""></a>
                    </div>
                    <div class="banner-info">
                        <h3><a href="#">Product Name</a></h3>
                        <ul class="banner-featured-list">
                            <li>
                                <i class="zmdi zmdi-check"></i><span>Lorem ipsum dolor</span>
                            </li>
                            <li>
                                <i class="zmdi zmdi-check"></i><span>amet, consectetur</span>
                            </li>
                            <li>
                                <i class="zmdi zmdi-check"></i><span>adipisicing elitest,</span>
                            </li>
                            <li>
                                <i class="zmdi zmdi-check"></i><span>eiusmod tempor</span>
                            </li>
                            <li>
                                <i class="zmdi zmdi-check"></i><span>labore et dolore.</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- UP COMMING PRODUCT SECTION END -->
<!-- PRODUCT TAB SECTION START -->
<div class="product-tab-section mb-50">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center mb-0">
                    <h2 class="uppercase">product list</h2>
                    <h6>There are many variations of passages of brands available,</h6>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="pro-tab-menu text-center">
                    <!-- Nav tabs -->
                    <ul class="">
                        @{
                            bool is_first = true;
                        }
                        @foreach (var item in topic_items)
                        {
                            string cls = "";
                            if (is_first)
                            {
                                cls = "active";
                                is_first = false;
                            }
                            <li class="@cls"><a href="#topic-@item.Id" data-toggle="tab">@item.TopicName</a></li>
                        }

                    </ul>
                </div>
            </div>
        </div>
        <div class="product-tab">
            <!-- Tab panes -->
            <div class="tab-content">
                @{
                    var db = new NewShopEntities();
                    is_first = true;
                }
                @foreach (var item in topic_items)
                {
                    string cls = "";
                    if (is_first)
                    {
                        cls = "active";
                        is_first = false;
                    }
                    <!-- topic-product start -->
                    <div class="tab-pane @cls" id="topic-@item.Id">
                        <!--Voc tiep-->
                        <div class="row">
                            @foreach (var product in db.Products.Where(x => x.Category.TopicId == item.Id).Take(4))
                            {
                                <!-- product-item start -->
                                @Html.Partial("_ProductsItem4", product)
                                <!-- product-item end -->
                            }
                        </div>
                    </div>
                    <!-- topic-product end -->
                }
            </div>
        </div>
    </div>
</div>
<!-- PRODUCT TAB SECTION END -->
<!-- BLOG SECTION START -->
<div class="blog-section mb-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center mb-50">
                    <h2 class="uppercase">Latest blog</h2>
                    <h6>There are many variations of passages of brands available,</h6>
                </div>
            </div>
        </div>
        <div class="blog">
            <div class="row active-blog">
                <!-- blog-item start -->
                <div class="col-xs-12">
                    <div class="blog-item">
                        <img src="/Content/MainPage/img/blog/1.jpg" alt="">
                        <div class="blog-desc">
                            <h5 class="blog-title"><a href="single-blog.html">dummy Blog name</a></h5>
                            <p>There are many variations of passages of psum available, but the majority have suffered alterat on in some form, by injected humour, randomis words which don't look even slightly.</p>
                            <div class="read-more">
                                <a href="single-blog.html">Read more</a>
                            </div>
                            <ul class="blog-meta">
                                <li>
                                    <a href="#"><i class="zmdi zmdi-favorite"></i>89 Like</a>
                                </li>
                                <li>
                                    <a href="#"><i class="zmdi zmdi-comments"></i>59 Comments</a>
                                </li>
                                <li>
                                    <a href="#"><i class="zmdi zmdi-share"></i>29 Share</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- blog-item end -->
                <!-- blog-item start -->
                <div class="col-xs-12">
                    <div class="blog-item">
                        <img src="/Content/MainPage/img/blog/2.jpg" alt="">
                        <div class="blog-desc">
                            <h5 class="blog-title"><a href="single-blog.html">dummy Blog name</a></h5>
                            <p>There are many variations of passages of psum available, but the majority have suffered alterat on in some form, by injected humour, randomis words which don't look even slightly.</p>
                            <div class="read-more">
                                <a href="single-blog.html">Read more</a>
                            </div>
                            <ul class="blog-meta">
                                <li>
                                    <a href="#"><i class="zmdi zmdi-favorite"></i>89 Like</a>
                                </li>
                                <li>
                                    <a href="#"><i class="zmdi zmdi-comments"></i>59 Comments</a>
                                </li>
                                <li>
                                    <a href="#"><i class="zmdi zmdi-share"></i>29 Share</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- blog-item end -->
                <!-- blog-item start -->
                <div class="col-xs-12">
                    <div class="blog-item">
                        <img src="/Content/MainPage/img/blog/3.jpg" alt="">
                        <div class="blog-desc">
                            <h5 class="blog-title"><a href="single-blog.html">dummy Blog name</a></h5>
                            <p>There are many variations of passages of psum available, but the majority have suffered alterat on in some form, by injected humour, randomis words which don't look even slightly.</p>
                            <div class="read-more">
                                <a href="single-blog.html">Read more</a>
                            </div>
                            <ul class="blog-meta">
                                <li>
                                    <a href="#"><i class="zmdi zmdi-favorite"></i>89 Like</a>
                                </li>
                                <li>
                                    <a href="#"><i class="zmdi zmdi-comments"></i>59 Comments</a>
                                </li>
                                <li>
                                    <a href="#"><i class="zmdi zmdi-share"></i>29 Share</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- blog-item end -->
                <!-- blog-item start -->
                <div class="col-xs-12">
                    <div class="blog-item">
                        <img src="/Content/MainPage/img/blog/1.jpg" alt="">
                        <div class="blog-desc">
                            <h5 class="blog-title"><a href="single-blog.html">dummy Blog name</a></h5>
                            <p>There are many variations of passages of psum available, but the majority have suffered alterat on in some form, by injected humour, randomis words which don't look even slightly.</p>
                            <div class="read-more">
                                <a href="single-blog.html">Read more</a>
                            </div>
                            <ul class="blog-meta">
                                <li>
                                    <a href="#"><i class="zmdi zmdi-favorite"></i>89 Like</a>
                                </li>
                                <li>
                                    <a href="#"><i class="zmdi zmdi-comments"></i>59 Comments</a>
                                </li>
                                <li>
                                    <a href="#"><i class="zmdi zmdi-share"></i>29 Share</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- blog-item end -->
            </div>
        </div>
    </div>
</div>
<!-- BLOG SECTION END -->