@using TechnologyShop.Models
@using TechnologyShop.Models.ViewModel

@{
    var customer = ViewBag.customer as UpdateProfileVM;

}
<!-- Modal content-->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add New Category</h4>
    </div>
    <div class="modal-body">
        <!-- checkout start -->
        <div class="tab-pane" id="checkout">
            <div class="checkout-content box-shadow p-30">
                <form id="form_checkout" method="post">
                    <div class="row">

                        <!-- billing details -->
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="col-md-6">
                                <h6 class="widget-title border-left mb-20">billing details</h6>
                                <div class="row">
                                    <div class="form-group">
                                        @Html.Label("Name:", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @customer.CustomerName
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        @Html.Label("Email:", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @customer.Email
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        @Html.Label("Gender:", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-6">
                                            @Html.DropDownList("Gender", EnumHelper.GetSelectList(typeof(Gender)), "Please select gender")
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        @Html.Label("Phone:", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @customer.Phone
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        @Html.Label("Address:", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @customer.Address
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
                        else
                        {
                            <div class="col-md-6">
                                <div class="billing-details pr-10">
                                    <h6 class="widget-title border-left mb-20">billing details</h6>
                                    <input type="text" name="CustomerName" placeholder="Your Name Here...">
                                    <input type="text" name="Email" placeholder="Email address here...">
                                    <input type="text" name="Phone" placeholder="Phone here...">
                                    @Html.DropDownList("Gender", EnumHelper.GetSelectList(typeof(Gender)), "Please select gender")
                                    <textarea name="Address" class="custom-textarea" placeholder="Your address here..."></textarea>
                                </div>
                            </div>
                        }

                        <input type="hidden" id="cartlist" name="cartlist" />
                        <div class="col-md-12">
                            <button class="submit-btn-1 mt-30 btn-hover-1" type="submit">Finish</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- checkout end -->
    </div>
</div>