@using TechnologyShop.Models

@{
    /**/

    ViewBag.Title = "Details";
    var product_detail = ViewBag.product_detail;
    var related_products = ViewBag.related_products as List<Product>;
    var recent_products = ViewBag.recent_products as List<Product>;
    var categories = ViewBag.categories as List<Category>;
    var topics = ViewBag.topics as List<Topic>;

}


<!-- SHOP SECTION START -->
<div class="shop-section mb-80">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-xs-12">
                <!-- single-product-area start -->
                <div class="single-product-area mb-80">
                    <div class="row">

                        @if (product_detail != null)
                        {
                            @Html.Partial("_ProductsDetail")
                        }


                    </div>
                    <!-- single-product-tab -->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- hr -->
                            <hr>
                            <div class="single-product-tab">
                                <ul class="reviews-tab mb-20">
                                    <li class="active"><a href="#description" data-toggle="tab">Mô tả</a></li>
                                    <li><a href="#information" data-toggle="tab">Thông tin</a></li>
                                    <li><a href="#reviews" data-toggle="tab">Nhận xét</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="description">
                                        <p>@Model.Description</p>  <!-- Sửa -->
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="information">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, neque fugit inventore quo dignissimos est iure natus quis nam illo officiis,  deleniti consectetur non ,aspernatur.</p>
                                        <p>rerum blanditiis dolore dignissimos expedita consequatur deleniti consectetur non exercitationem.</p>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="reviews">
                                        <!-- reviews-tab-desc -->
                                        <div class="reviews-tab-desc">
                                            <!-- single comments -->
                                            <div class="media mt-30">
                                                <div class="media-left">
                                                    <a href="#"><img class="media-object" src="~/Content/home/img/author/1.jpg" alt="#"></a>
                                                </div>
                                                <div class="media-body">
                                                    <div class="clearfix">
                                                        <div class="name-commenter pull-left">
                                                            <h6 class="media-heading"><a href="#">Gerald Barnes</a></h6>
                                                            <p class="mb-10">27 Jun, 2017 at 2:30pm</p>
                                                        </div>
                                                        <div class="pull-right">
                                                            <ul class="reply-delate">
                                                                <li><a href="#">Reply</a></li>
                                                                <li>/</li>
                                                                <li><a href="#">Delate</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan egestas .</p>
                                                </div>
                                            </div>
                                            <!-- single comments -->
                                            <div class="media mt-30">
                                                <div class="media-left">
                                                    <a href="#"><img class="media-object" src="~/Content/home/img/author/2.jpg" alt="#"></a>
                                                </div>
                                                <div class="media-body">
                                                    <div class="clearfix">
                                                        <div class="name-commenter pull-left">
                                                            <h6 class="media-heading"><a href="#">Gerald Barnes</a></h6>
                                                            <p class="mb-10">27 Jun, 2017 at 2:30pm</p>
                                                        </div>
                                                        <div class="pull-right">
                                                            <ul class="reply-delate">
                                                                <li><a href="#">Reply</a></li>
                                                                <li>/</li>
                                                                <li><a href="#">Delate</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan egestas .</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  hr -->
                            <hr>
                        </div>
                    </div>
                </div>
                <!-- single-product-area end -->
                <div class="related-product-area">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title text-left mb-40">
                                <h2 class="uppercase">Sản phẩm liên quan</h2>
                                <h6></h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="active-related-product">

                            <!-- product-item start -->
                            @foreach (var item in related_products)
                            {
                                @Html.Partial("_ProductsItem1", item)
                            }
                            <!-- product-item end -->





                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <!-- widget-search -->
                <aside class="widget-search mb-30">
                    <form action="#">
                        <input type="text" placeholder="Search here...">
                        <button type="submit"><i class="zmdi zmdi-search"></i></button>
                    </form>
                </aside>
                <!-- widget-categories -->
                <aside class="widget widget-categories box-shadow mb-30">
                    <h6 class="widget-title border-left mb-20">Danh mục</h6>
                    <div id="cat-treeview" class="product-cat">
                        <ul>
                            @foreach (var item in topics)
                            {
                                <li class="closed">
                                    <a href="#">@item.TopicName</a>

                                    @foreach (var cat in item.Categories)
                                    {
                                    <ul>
                                      
                                        
                                        <li><a href="~/Products/?cat=@cat.CategoryName">@cat.CategoryName</a></li>

                                    </ul>
                                    }

                                </li>

                            }
                        </ul>

                    </div>
                </aside>
                <!-- operating-system -->
                <aside class="widget operating-system box-shadow mb-30">
                    <h6 class="widget-title border-left mb-20">Hệ điều hành</h6>
                    <form action="action_page.php">
                        <label><input type="checkbox" name="operating-1" value="phone-1">Windows Phone</label><br>
                        <label><input type="checkbox" name="operating-1" value="phone-1">Bleckgerry ios</label><br>
                        <label><input type="checkbox" name="operating-1" value="phone-1">Android</label><br>
                        <label><input type="checkbox" name="operating-1" value="phone-1">ios</label><br>
                        <label><input type="checkbox" name="operating-1" value="phone-1">Windows Phone</label><br>
                        <label><input type="checkbox" name="operating-1" value="phone-1">Symban</label><br>
                        <label class="mb-0"><input type="checkbox" name="operating-1" value="phone-1">Bleckgerry os</label><br>
                    </form>
                </aside>
                <!-- widget-product -->
                <aside class="widget widget-product box-shadow">
                    <h6 class="widget-title border-left mb-20">Sản phẩm gần đây</h6>
                    <!-- product-item start -->
                    @foreach (var item in recent_products)
                    {
                        @Html.Partial("_ProductsRecent", item)
                    }
                    <!-- product-item end -->

                </aside>
            </div>
        </div>
    </div>
</div>
<!-- SHOP SECTION END -->
